#checkout {
    .checkoutBox {
        margin-top: 8rem;
        margin-bottom: 5rem;
        .card {
            border: none;
        }
        .card-header {
            background: #f7f7f7;
            border-top: 5px solid #cb2024;
            border-bottom: none;
            .btn-link {
                color: #666;
                white-space: initial;
                i {
                    margin-right: 5px;
                }
            }
        }
        &__table {
            background: #f7f7f7;
            padding: 2rem 3rem;
            &__bill {
                width: 100%;
                th {
                    border-bottom: 1px solid #e6e6e6;
                    padding: 1rem 0;
                }
                td {
                    &:first-child {
                        font-weight: 900;
                    }
                    text-align: right;
                    border-bottom: 1px solid #e6e6e6;
                    padding: 1rem 0;
                }
                &__total {
                    font-weight: 900;
                }
                &__price {
                    color: #cb2024;
                }
            }
            &__method {
                margin-top: 3rem;
                width: 100%;
                color: #666;
                border: 1px solid #e6e6e6;
                td {
                    input[type=radio] {
                        margin-right: 5px;
                    }
                    padding: 0.7rem 1rem;
                    border-bottom: 1px solid #e6e6e6;
                }
                label {
                    margin: 0;
                }
                &+p {
                    margin-top: 3rem;
                }
            }
        }
    }
}