/* RESET */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

@media (max-width: 767px) {
    body {
        font-size: 14px;
    }
}

ul {
    list-style: none;
}

ul,
p {
    padding: 0;
    margin: 0;
}

img {
    vertical-align: bottom;
    line-height: 1;
    max-width: 100%;
}

a {
    color: #333;
}

h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
}

input,
textarea {
    background: none;
    outline: none;
}


/* BOX SHADOW */

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.border-box {
    border: 1px solid #ededed;
}


/* HEADING */

.h3_page {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 50px;
    text-transform: uppercase;
    &__icon {
        text-align: center;
        position: relative;
        padding-bottom: 65px;
        margin-bottom: 65px;
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: url('../images/top/icon_logo.png') no-repeat center top;
            width: 281px;
            height: 42px;
        }
        &+.aboutBox__text {
            margin-top: -25px;
        }
    }
    &--right {
        text-align: right;
    }
}

.h4_page {
    &--red {
        background: #cb2024;
        color: #fff;
        padding: 1rem;
    }
    &+ul {
        margin-top: 20px;
    }
}


/* BUTTON */

.button-red {
    background: #e94957;
    border: 2px solid #e94957;
    color: #fff;
    border-radius: 30px;
    display: inline-block;
    padding: 1rem 1.2rem;
    text-align: center;
    font-size: 15px;
    line-height: 1;
    &--bdnone {
        border: none;
    }
    &+a {
        margin-left: 1rem;
    }
    a+& {
        margin-left: 1rem;
    }
    &--white {
        background: #fff;
        color: #333;
        border: 2px solid #333;
    }
    &+.detailProd--info__icon {
        margin-right: 1rem;
    }
}


/* ALIGN */

.taC {
    text-align: center;
}


/* MAIN IMAGE */

.maimImg {
    img {
        width: 100%;
    }
}

.breadcrumb {
    background: none;
    padding-left: 0;
    padding-right: 0;
}

.sidebar {
    &__logo {
        color: #fff;
        background: #cb2024;
        text-align: center;
        padding: 2rem;
        &__list {
            text-align: left;
            margin-top: 1rem;
            th {
                padding-right: 15px;
                text-align: center;
                opacity: .6;
                vertical-align: top;
            }
            tr td {
                padding-bottom: 10px;
            }
        }
    }
    &__news {
        margin-top: 3rem;
        li {
            display: flex;
            align-items: center;
        }
        li+li {
            margin-top: 2rem;
        }
        &__thumb {
            margin-right: 1rem;
            width: 50%;
            img {
                border: 1px solid #ededed;
            }
        }
        &__price {
            color: #999999;
            margin-top: 0.5rem;
        }
        &__desc {
            p {
                line-height: 1.2;
            }
            a {
                font-weight: 700;
            }
            time {
                font-style: italic;
                color: #999999;
                font-size: 14px;
            }
        }
    }
    &__tags {
        margin-top: 3rem;
        a {
            display: inline-block;
            padding: 5px;
            color: #666666;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        a+a {
            margin-top: 10px;
        }
    }
    &__bnr {
        margin-top: 3rem;
        img {
            width: 100%;
        }
    }
    &__search {
        &__form {
            position: relative;
        }
        &__submit {
            position: absolute;
            right: 0;
            top: 20%;
            border: none;
            background: none;
        }
        input[type=text] {
            border: 1px solid #ccc;
            padding: 10px 20px;
            width: 100%;
        }
        div+& {
            margin-top: 3rem;
        }
    }
    &__product {
        li {
            font-weight: 700;
        }
        li+li {
            margin-top: 20px;
        }
        div+& {
            margin-top: 3rem;
        }
    }
    &__filter {
        div+& {
            margin-top: 3rem;
        }
    }
}

#news .sidebar__news__thumb img {
    border-radius: 100%;
    border: none;
}


/* TEXT */

.text {
    margin-top: 2rem;
    &+& {
        margin-top: 0.5rem;
    }
    &--grey {
        a {
            color: #999;
        }
    }
    &--black {
        a {
            color: #000;
        }
    }
    &--grey {
        font-weight: 700;
    }
    &--bold {
        font-weight: 700;
    }
    &--small {
        margin-top: 0;
        font-size: 0.8rem;
    }
}

.btn_increas {
    position: relative;
    background: #f2f2f2;
    padding: 0.5rem 0;
    input {
        border: none;
        width: 100%;
        text-align: center;
    }
    &__button {
        position: absolute;
        top: 25%;
        outline: none;
        &.inc {
            left: 1rem;
        }
        &.dec {
            right: 1rem;
        }
    }
    &+.button-red {
        margin-left: 1rem;
    }
}


/* FORM */

.contactSection {
    margin-top: 8rem;
    margin-bottom: 3rem;
    &__col {
        &__icon {
            color: #cccccc;
            font-size: 1.5rem;
            margin-right: 1rem;
        }
        &__form {
            input+input {
                margin-top: 30px;
            }
            input+textarea {
                margin-top: 30px;
            }
            textarea+input {
                margin-top: 30px;
            }
            input[type=text],
            input[type=email],
            input[type=password] {
                display: block;
                width: 100%;
                border: 1px solid #e6e6e6;
                padding: 1rem 1.5rem;
            }
            textarea {
                width: 100%;
                border: 1px solid #e6e6e6;
                padding: 1rem 1.5rem;
                min-height: 200px;
            }
            input[type=submit] {
                width: 140px;
                text-align: center;
            }
        }
        &__btn {
            margin-top: 3rem;
        }
    }
    h3+p {
        margin-top: 2rem;
    }
    p {
        text-align: justify;
        color: #666;
        &+p {
            margin: 2rem 0;
        }
        strong {
            display: block;
        }
    }
}

.form_style {
    p+div {
        margin-top: 2rem;
    }
    input+input {
        margin-top: 30px;
    }
    input+textarea {
        margin-top: 30px;
    }
    textarea+input {
        margin-top: 30px;
    }
    input+div {
        margin-top: 2rem;
    }
    div+input {
        margin-top: 2rem;
    }
    input[type=text],
    input[type=email],
    input[type=password] {
        display: block;
        width: 100%;
        border: 1px solid #e6e6e6;
        padding: 0.6rem 1.5rem;
    }
    label {
        color: #666;
        font-weight: 700;
        span {
            color: #cb2024;
        }
    }
    div+label {
        margin-top: 2rem;
    }
    input[type=checkbox]+label {
        margin-left: 5px;
    }
    &__select {
        &+a {
            margin-right: 1rem;
        }
        margin-right: 1rem;
        border: 1px solid #ededed;
        height: 42px;
        position: relative;
        color: #999999;
        padding: 0.5rem 3rem 0.5rem 0.5rem;
        &::before {
            content: "";
            position: absolute;
            right: 10px;
            top: 40%;
            width: 0;
            height: 0;
            border-bottom: 6px solid transparent;
            border-left: 8px solid #999;
            border-top: 6px solid transparent;
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }
        select {
            padding: 5px 8px;
            line-height: 1;
            width: 130%;
            border: none;
            box-shadow: none;
            color: #999999;
            background-color: transparent;
            background-image: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
}

@media (max-width: 767px) {
    .contactSection {
        margin: 4rem 0 2rem;
    }
    .contactSection__col__form {
        margin-top: 3rem;
    }
}