#contact {
    .mapBox {
        iframe {
            width: 100%;
            height: 710px;
        }
    }
    @media (max-width: 767px) {
        .mapBox iframe {
            height: 350px;
        }
    }
}