#detail {
    .detailProd {
        margin-top: 5rem;
    }
    #small_slide {
        margin: 0 -0.5rem;
        li {
            padding: 1rem 0.5rem;
        }
    }
    .detailProd--info {
        &+h3 {
            margin-top: 5rem;
        }
        &__name {
            font-size: 1.5rem;
            font-weight: 700;
        }
        &__price {
            color: #999;
            font-size: 1.2rem;
        }
        &__star {
            line-height: 1;
            img {
                line-height: 1;
            }
        }
        &__icon {
            width: 36px;
            height: 36px;
            line-height: 36px;
            display: inline-block;
            text-align: center;
            border: 1px solid #e6e6e6;
            border-radius: 100%;
        }
        &__status {
            margin-top: 1rem;
            color: #666;
            span {
                color: #cb2024;
            }
        }
        &__category {
            margin-top: 1rem;
            color: #666;
            text-transform: uppercase;
        }
        &__tags {
            margin-top: 1rem;
            color: #666;
            a {
                color: #999;
            }
        }
        &__shared {
            margin-top: 1rem;
            color: #666;
            a {
                color: #999;
                margin: 0 0.5rem;
                font-size: 1.2rem;
            }
        }
        &__desc {
            margin-top: 3rem;
            color: #666;
            &+div {
                margin-top: 3rem;
            }
        }
    }
    .nav-pills {
        margin-top: 4rem;
        .nav-link {
            background: none;
            line-height: 1;
            padding-top: 0;
            padding-bottom: 0;
            color: #999;
            &.active {
                color: #cb2024;
                font-weight: 700;
            }
        }
        .nav-item {
            border-left: 1px solid #e6e6e6;
            line-height: 1;
            &:first-child {
                border: none;
                a {
                    padding-left: 0;
                }
            }
        }
    }
    .tab-content {
        color: #666;
        margin-top: 2rem;
    }
    .tab-content+h3 {
        margin-top: 5rem;
    }
}