#products {
    .productContent {
        margin-top: 5rem;
        &__filter {
            color: #999999;
            &+.listCatetory__item {
                margin-top: 3rem;
            }
            &__btn {
                width: 42px;
                height: 42px;
                line-height: 42px;
                display: inline-block;
                border: 1px solid #ededed;
                text-align: center;
                position: relative;
                color: #999999;
                &.active {
                    border: 1px solid #cb2024;
                    background: #cb2024;
                    color: #fff;
                }
            }
        }
    }
    @media (max-width: 767px) {
        .listCatetory__item--row li img {
            width: 35%;
            display: inline-block;
            vertical-align: top;
        }
        .listCatetory__item--row .listCatetory__item__desc {
            padding-right: 0;
            width: 60%;
        }
    }
}