#products {
    .productContent {
        margin-top: 5rem;
        &__filter {
            color: #999999;
            &+.listCatetory__item {
                margin-top: 3rem;
            }
            &__select {
                &+a {
                    margin-right: 1rem;
                }
                margin-right: 1rem;
                border: 1px solid #ededed;
                height: 42px;
                position: relative;
                color: #999999;
                padding: 0.5rem 3rem 0.5rem 0.5rem;
                &::before {
                    content: "";
                    position: absolute;
                    right: 10px;
                    top:40%;
                    width: 0;
                    height: 0;
                    border-bottom: 6px solid transparent;
                    border-left: 8px solid #999;
                    border-top: 6px solid transparent;
                  -moz-transform: rotate(90deg);
                    -webkit-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
                select {
                padding: 5px 8px;
                line-height: 1;
                width: 130%;
                border: none;
                box-shadow: none;
                color: #999999;
                background-color: transparent;
                background-image: none;
                -webkit-appearance: none;
                    -moz-appearance: none;
                        appearance: none;
                }
            }
            &__btn {
                width: 42px;
                height: 42px;
                line-height: 42px;
                display: inline-block;
                border: 1px solid #ededed;
                text-align: center;
                position: relative;
                color: #999999;
                &.active {
                    border: 1px solid #cb2024;
                    background: #cb2024;
                    color: #fff;
                }
            }
        }   
    }
    @media (max-width: 767px) {
        .listCatetory__item--row li img {
            width: 35%;
            display: inline-block;
            vertical-align: top;
        }
        .listCatetory__item--row .listCatetory__item__desc {
            padding-right: 0;
            width: 60%;
        }
    }
}
